version: "3"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
  frontend:
    build:
      context: frontend/
      dockerfile: Dockerfile
    ports:
      - 8080:80