Django==3.1.7
djangorestframework==3.12.2
tensorflow==1.15.2
regex
requests
tqdm
numpy
toposort
transformers
gpt_2_simple==0.7.2
python-dotenv
django-cors-headers>=3.7.0
drf-yasg
django-extensions
django-ratelimit
nltk
text2emotion
jsonfield
