a.router-link-exact-active {
    color: hsl(171, 100%, 41%) !important;
}

a:hover {
    color: hsl(171, 100%, 41%) !important;
}

body::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    background-image: url("https://media.istockphoto.com/vectors/seamless-pattern-on-the-theme-of-newspapers-vector-id1135314489?b=1&k=6&m=1135314489&s=612x612&w=0&h=Ve6yHF9776razqbytmOymCF9fm24AiVhI7bBFwRmALs=");
    background-attachment: fixed;
    z-index: -1;
}